<div id="<%= dom_id schedule_user %>">
  <p>
    <strong>Schedule:</strong>
    <%= schedule_user.schedule_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= schedule_user.user_id %>
  </p>

</div>
