<h1>Editing schedule user</h1>

<%= render "form", schedule_user: @schedule_user %>

<br>

<div>
  <%= link_to "Show this schedule user", @schedule_user %> |
  <%= link_to "Back to schedule users", schedule_users_path %>
</div>
